/* ABOUT PHOTO */

.about-photo {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;

    overflow: hidden;

    border-radius: 18px;

    background: #fffaf2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-photo img {
    width: 100%;
    height: auto;

    display: block;

    object-fit: contain;

    border-radius: 18px;
}
