/* ================= HERO PHOTO ================= */

.hero-photo {
    width: 560px;
    height: auto;

    border: 3px solid #e5b84b;
    border-radius: 20px;

    overflow: hidden;

    flex-shrink: 0;

    background: transparent;

    display: block;
}

.hero-photo img {
    width: 100%;
    height: auto;

    display: block;

    object-fit: contain;
}
